<!-- Title bar -->
<header class="bar bar-nav sendTitle">
	<h1 class="title">CodeForGood</h1>
	<a  href="#/main" class="icon icon-left-nav pull-left"></a>
</header>

<!-- List of conversations -->
<div class = "msgArea">
	<ul class="table-view msgList">
		<li class="table-view-cell media" ng-repeat="message in messages" >
			{{message.text}}
		</li>
	</ul>
</div>

<div class="bar bar-standard bar-footer-secondary sendArea">
	<textarea id = "sendId" type="text" placeholder="Enter message"></textarea>
</div>

<footer class="bar bar-standard bar-footer footSend">
	<button class="btn btn-primary btn-block btnSend" ng-click="btnSend()">Send</button>
</footer>
