
#sendId {
	position: absolute;
	height: 100%;
}

.btnSend {
	position: absolute;
	height: 80%;
}

.footSend {
	position: absolute;
	bottom: 0;
	height: 10%;
}

.msgArea {
	position: absolute;
	bottom: 40%;
	height: 5%;
	width: 100%;
}

.msgList {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.sendTitle {
	position: absolute;
}

.sendArea {
	position: absolute;
	bottom: 10%;
	height: 30%;
	width: 98.5%;
}

.msgOut {
	background-color: #E3F1FC;
}

.msgIn {}

ul {
	position: relative;
	width: 230px;
	height: 250px;
	overflow-y: scroll;

	-webkit-perspective: 400px;
	   -moz-perspective: 400px;
	    -ms-perspective: 400px;
	     -o-perspective: 400px;
	        perspective: 400px;
}
	ul li {
		position: relative;
		padding: 16px;
		font-size: 18px;
		z-index: 2;
		bottom: 0px;

		-webkit-transform: translateZ(0px);
		   -moz-transform: translateZ(0px);
		    -ms-transform: translateZ(0px);
		     -o-transform: translateZ(0px);
		        transform: translateZ(0px);
	}